@use "../../../../styles/abstracts" as *;

p {
  color: black;
  font-size: var(--t-size-alpha);
  @include min-width("sm") {
    color: red;
  }
}

.navbar {
  background-color: var(--c-Arkansas);
  // position: absolute;
  // display: block;
  // top: 0;
  // left: 0;
  // height: 50px;
  // width: 100%;
  // background: rgba(#000,0.8);
  // overflow: hidden;
  // transition: all 0.5s ease-out, background 1s ease-out;
  // transition-delay: 0.2s;
  // z-index: 1;

  // &.menu-opened {
  //   height: 100%;
  //   background-color: #000;
  //   transition: all 0.3s ease-in, background 0.5s ease-in;
  //   transition-delay: 0.25s;
}
