@use "../../../../styles/abstracts" as *;
.navbar {
  background-color: var(--c-Arkansas);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
