@use "../abstracts" as *;

:root {
  --c-Alabama: black;
  --c-Alaska: white;

  --c-Arizona: #0b3140;
  --c-Arkansas: #164d59;
  --c-California: #458c78;
  --c-Colorado: #88bf96;
  --c-Connecticut: #f2f2f2;
}

// Delaware
// Florida
// Georgia
// Hawaii
// Idaho
// Illinois
// Indiana
// Iowa
// Kansas
// Kentucky
// Louisiana
// Maine
// Maryland
// Massachusetts
// Michigan
// Minnesota
// Mississippi
// Missouri
// Montana
// Nebraska
// Nevada
// New Hampshire
// New Jersey
// New Mexico
// New York
// North Carolina
// North Dakota
// Ohio
// Oklahoma
// Oregon
// Pennsylvania
// Rhode Island
// South Carolina
// South Dakota
// Tennessee
// Texas
// Utah
// Vermont
// Virginia
// Washington
// West Virginia
// Wisconsin
// Wyoming
